<nav class="breadcrumb is-right" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to 'Product',  products_path %></li>
    <li><%= link_to 'Categories', categories_path %></li>
    <li class="is-active"><%= @category.name %>
  </ul>
</nav>
<h1><%= @category.name %></h1>

<p class="title is-4"><%= @category.name %></p>
<% @category.products.each do |product| %>
<div class="card">
  <div class="category_images">
    <div class="card-image">
      <figure class="image is-128x128">
        <%= image_tag(url_for(product.product_image), alt:"product_image") %>
      </figure>
    </div>
  </div>
  <div class="card-content">
    <h2 class="subtitle is-6"><%= link_to product.product_name, product %></h2>

  </div>
</div>
<% end %>